@keyframes bounce {
  0% {
    top: 70%;
  }
  50% {
    top: 10%;
  }
  100% {
    top: 70%;
  }
}
.page2 {
  height: 35vw;
  position: relative;
  background: linear-gradient(#aaaaaa, #f5f5f5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.glassdiv {
  width: 90vw;
  height: 60%;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255, 0.2),
    rgb(255, 255, 255, 0.1)
  );
  border: solid 2px rgb(255, 255, 255, 0.2);
  border-radius: 2vw;
  box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.1);
  backdrop-filter: blur(30px);
  animation-name: appear;
  animation-duration: 1ms;
  animation-timing-function: linear;
  animation-timeline: view(block 80% 0%);
}
.text_wrapper {
  margin: 2vw 10vw;
  width: fit-content;
  height: fit-content;
  text-align: center;
  color: #848484;
  font-size: 4vw;
  font-weight: 500;
  mix-blend-mode: overlay;
}
.bg {
  position: absolute;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  z-index: -1;
}
.element1 {
  left: 10%;
  top: 70%;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #6fc3df;
}
.element2 {
  left: 40%;
  top: 70%;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
  background-color: #6fc3df;
}
.element3 {
  left: 60%;
  top: 70%;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
  background-color: #7ed957;
}
.element4 {
  right: 7%;
  top: 70%;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  background-color: #7ed957;
}
