@keyframes bounceAuth {
    0%{
        left:60%;
        bottom: 0;
        rotate: 0deg;
    }
    10%
    {
        left: 80%;
        bottom: 80%;
        rotate: 180deg;
    }
    20%{
        left: 100%;
        bottom: 0%;
        rotate: 360deg;
    }
    30%
    {
        left: 80%;
        bottom: 80%;
        rotate: 180deg;
    }
    40%
    {
        left: 60%;
        bottom: 0%;
        rotate: 0deg;
    }
    50%
    {
        left: 40%;
        bottom: 100%;
        rotate: 180deg;
    }
    60%
    {
        left: 20%;
        bottom: 0%;
        rotate: 360deg;
    }
    70%{
        left: 0%;
        bottom: 100%;
        rotate: 180deg;
    }
    80%{
        left: 20%;
        bottom: 0%;
        rotate: 0deg;
    }
    90%
    {
        left: 40%;
        bottom: 100%;
        rotate: 180deg;
    }
    100%{
        left: 60%;
        bottom: 0%;
        rotate: 360deg;
    }
}



.page1Signup{
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glassdivSignup{
    display: flex;
    flex-direction: column;
    padding: 2vw 3vw 3vw 3vw;
    width: 40vw;
    min-width: fit-content;
    height: fit-content;
    background:linear-gradient(270deg,rgb(255,255,255,0.2),rgb(255,255,255,0.1));
    border:solid 2px rgb(255,255,255,0.2);
    border-radius: 2vw;
    box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.1);
    backdrop-filter: blur(30px);
    z-index: 1;
}


/* .placeholder{
    margin-left: 7vw;
    margin-top: 2vw;
    color: #636363;
    font-size: large;
}


.inputbox{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.ipbox{
    font-family: 'k2d';
    padding: 0 1vw;
    font-size: 2vw;
    border-radius: 2vw;
    border-width: 1px;
    background: transparent;
    height: 5vw;
    min-height: 50px;
    width: 70%;
    min-width: 400px;
    color: black;
} */


.button_signin{
    width: 100%;
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_wrapper{
    width: fit-content;
    height: fit-content;
    border-radius: 3vw;
    background-image:linear-gradient(90deg,#7ED957,#6FC3DF,transparent,transparent);
    background-size: 250%;
    background-position: right;
    transition: 1s;
}
.button_wrapper:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-position: left;
}
.button_wrapper:active{
    transition: 0.2s;
    transform: scale(0.8);

}
.signupInput{
    padding:1vw 2vw;
    border-radius: 3vw;
    border: none;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    background-image:linear-gradient(90deg,black,black,#F7CAC9,#FFE5B4);
    background-size: 220%;
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:1px solid;
    transition: 1s;
}

.signupInput:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-position: right;
    cursor: pointer;
}
.signupInput:active{
    transition: 0.2s;
    transform: scale(0.8);
}

.textwrapper
{
    z-index: 1;
    float: top;
}

.bigcircle{
    background:linear-gradient(90deg,#7ED957,#6FC3DF);
    width: 20vw;
    height: 20vw;
    position: absolute;
    border-radius: 50%;
    left: 60%;
    bottom: 0;
    animation-name: bounce;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;

}

.smallcircle1{
    background:linear-gradient(90deg,#7ED957,#6FC3DF);
    width: 10vw;
    height: 10vw;
    position: absolute;
    border-radius: 50%;
    left: 60%;
    bottom: 0;
    animation-name: bounce;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.smallcircle2{
    background:linear-gradient(90deg,#7ED957,#F7CAC9);
    width: 10vw;
    height: 10vw;
    position: absolute;
    border-radius: 50%;
    left: 60%;
    bottom: 0;
    animation-name: bounce;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-iteration-count: infinite;
}




